<div class="row">
  <div class="col-xs-12">
    <a
      style="cursor: pointer;"
      class="list-group-item clearfix"
      [routerLink]="[currentIndex]"
      routerLinkActive="active"
    >
      <div class="pull-left" style="max-width: 70%;">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="pull-right">
        <img
          class="card-img-top"
          style="max-height: 100px;"
          [src]="recipe.imgPath"
          alt="{{ recipe.name }}"
        />
      </span>
    </a>
  </div>
</div>
