<div class="row" *ngIf="recipeSelected != null">
  <div class="col-xs-12">
    <div class="row center">
      <div class="col-xs-12">
        <h3>Recipe details page</h3>
      </div>
    </div>

    <div class="row list-group-item">
      <div class="col-xs-6">
        <ul>
          <h4>{{ recipeSelected.name }}</h4>
          <li>{{ recipeSelected.description }}</li>
          <li>Ingredients</li>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
              Manage Recipe<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </ul>
      </div>
      <div class="col-xs-6">
        <img
          class="card-img-top"
          style="max-height: 200px;"
          [src]="recipeSelected.imgPath"
          alt="{{ recipeSelected.name }}"
        />
      </div>
    </div>
  </div>
</div>
